# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv/
.python-packages/
venv/
ENV/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.npm-cache/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# IDE
.vscode/
.idea/

# Database
*.sqlite3
db.sqlite3
